.title{
    color: blue;
}


.bg-background{
   background-image: url('/nature-jpg-format-download-1920x1200-wallpaper-preview.jpg'); 
}


#button{
    width: 100px;
    display: block;
    margin-bottom: 80px;
    margin-top: 80px;
    
;}


body{
   background-color: #e2e3e5; 
}